*.pyc
*/*.pyc
*/*/*.pyc
*/*/*/*.pyc
*/*/*/*/*.pyc
*/*/*/*/*/*.pyc
*/*/*/*/*/*/*.pyc
*/*/*/*/*/*/*/*.pyc
*/*/*/*/*/*/*/*/*.pyc
*/*/*/*/*/*/*/*/*/*.pyc
*/*/*/*/*/*/*/*/*/*/*.pyc
*/*/*/*/*/*/*/*/*/*/*/*.pyc

assets/vid_001__day_1__con_1__person_1_part1.MP4
checkpoints/scaled_offline.pth
videos/teaser.mp4

vid_12_day_1_person_7_p2.mp4_1200_1500.mp4.mp4